*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

a:link {
    color:white;
    text-decoration: none;
  }


  a:visited {
    
    color:white;
  }
  
  a:hover {
    color:rgb(238, 129, 238);
  }
  h2:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(187, 14, 158, 0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }

/*Botão*/
.botao{
    background-color: #d42ca2;
    color:white;
    text-transform: uppercase;
    padding: 8px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5px;
}

.botao:hover {
    background: #f6a8fd;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/* Navbar */
#navbar{
    display: flex;
    background-color: #000;
    color:white;
    justify-content: center;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#navbar .navbar-container .logo {
    height: 40px;
    width: auto;
}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    

}

#navbar .navbar-container ul li{
    padding: 0 10px;
    text-transform: uppercase;
    text-align: center;
}


#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}


/* card */

#card{
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #000;
    background: url('https://i.imgur.com/lW1cYvc.png')center center/cover;
    background-color: rgba(0,0,0,0.01);
    background-blend-mode: color;
    
}

#card .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    box-shadow: 0 0 5px 0px #e2e2e2;
    max-width: 40vw;
    background-color: white;
}

#card .card-container h2{
    font-size: 2.5rem;
    margin-top: 10px;
}

#card .card-container p{
    /*margin: 15px 0;*/
    font-size: 1.1rem;
    padding: 0 10px;
    text-align: center;
    margin-top: 5vw;
}

/*campos*/
input, select, textarea, button{
    border-radius: 5px;
}

fieldset{
    border:0;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset.grupo .campo{
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="date"],  .campo input[type="password"],.campo select, .campo textarea{
    padding: 0.4em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
    display: block;
}


.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E8FF
}
#check {
    display: inline-block;
    margin-left: -92px;
}