<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tilha</title>
    <link rel="stylesheet" href="../styles/trilha.css">
</head>
<body>
      <div class="new-content">
        <div class="nova-trilha">
            <form action="">
                <label for="name">Nome do video</label>
                <input type="text">
 
                <label for="link">Link do video</label>
                <input type="text" name="" id="">

                <button class="main-btn">Adiconar video</button>
            </form>
        </div>
      </div>
</body>
</html>