<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../styles/trilha.css">
</head>
<body>
        <div class="content">
            <section class="user-section">
                <div class="user-img">
                </div>
                <div class="user-profile">
                    <h3 class="user-name">Augusto N Calixto</h3>
                    <h4 class="user-area">Estudante de programação</h4>
                    <h5 class="user-location">Itajubá, MG</h5>
                </div>
                <div class="user-trail">
                    <div class="profile-score">
                        <span class="score-number">2</span>
                        <span class="score-text">Trilhas</span>
                    </div>
    
                    <div class="profile-score">
                        <span class="score-number">150</span>
                        <span class="score-text">Conexões</span>
                    </div>
    
                    <div class="profile-score">
                        <span class="score-number">2</span>
                        <span class="score-text">Alunos</span>
                    </div>
                </div>

                <div class="user-desc"><span>
                    Olá, me chamo Augusto Calixto, tenho 21 anos e sou estudante de programação. Adoro tecnologia por isso estou sempre me aprofundando em linguagens de programação, algumas delas sendo Javascript, PHP e C++. Também me interesso por música e política.
                </span></div>
            </section>
    
            <section class="playlist">
                <div class="playlist-info">
                    <div>
                        <h3>Aprenda programação back-end</h3>
                        <h4>Programação</h4>
                    </div>
                    <div>
                        <button class="main-btn">
                            <a href="./nova_trilha.html" target="_blank">Adicionar video</a>
                        </button>
                    </div>
                </div>
                <div class="video-card">
                    <div>
                        <img src="https://andigood.files.wordpress.com/2011/07/photo1-e1311991717648.jpg?w=460&h=613" alt="">
                    </div>
                    <div class="card-info">
                        <span class="card-title">Video sobre java</span>
                        <a href="" class="card-link">https://youtube.com/videojava</a>
                    </div>
                </div>

                <div class="video-card">
                    <div>
                        <img src="https://andigood.files.wordpress.com/2011/07/photo1-e1311991717648.jpg?w=460&h=613" alt="">
                    </div>
                    <div class="card-info">
                        <span class="card-title">Video sobre java</span>
                        <a href="" class="card-link">https://youtube.com/videojava</a>
                    </div>
                </div>

                <div class="video-card">
                    <div>
                        <img src="https://andigood.files.wordpress.com/2011/07/photo1-e1311991717648.jpg?w=460&h=613" alt="">
                    </div>
                    <div class="card-info">
                        <span class="card-title">Video sobre java</span>
                        <a href="" class="card-link">https://youtube.com/videojava</a>
                    </div>
                </div>

                <div class="video-card">
                    <div>
                        <img src="https://andigood.files.wordpress.com/2011/07/photo1-e1311991717648.jpg?w=460&h=613" alt="">
                    </div>
                    <div class="card-info">
                        <span class="card-title">Video sobre java</span>
                        <a href="" class="card-link">https://youtube.com/videojava</a>
                    </div>
                </div>

                <div class="video-card">
                    <div>
                        <img src="https://andigood.files.wordpress.com/2011/07/photo1-e1311991717648.jpg?w=460&h=613" alt="">
                    </div>
                    <div class="card-info">
                        <span class="card-title">Video sobre java</span>
                        <a href="" class="card-link">https://youtube.com/videojava</a>
                    </div>
                </div>
            </section>
        </div>
</body>
</html>